.banner {
  width: 300px;
  height: 250px;
  position: relative;
  // background-image: url('./assets//Bongo\ Bondhu\ -\ Drag\ _\ Drop\ -\ Before\ -\ 300_250.png');
  // background-color: red;
  // use as vairable in #icon...
  #bg-after {
    position: absolute;
    left: 0;
    visibility: hidden;
  }
  .icon {
    width: 35px;
    height: 31px;
    position: absolute;
  }
  #icon1 {
    bottom: 10px;
    left: 40px;
    background-image: url('./assets/Group\ 5.png');
  }
  #icon2 {
    bottom: 10px;
    left: 100px;
    background-image: url('./assets/Group\ 3.png');
  }
  #icon3 {
    bottom: 10px;
    left: 155px;
    background-image: url('./assets/Rectangle\ 6\ copy\ 6.png');
  }
  #icon4 {
    bottom: 10px;
    left: 210px;
    background-image: url('./assets/Group\ 4.png');
  }
}
